@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Shop.Models.Entities.Product>

@{
    ViewData["Title"] = "Products";
}

@{
    var message = TempData["Message"];
}

<h1>Product List</h1>
<h6 class="mb-3">Click on the product id to view the products</h6>

@if (message is not null)
{
    <p style="background-color: #ffcccc; color: #000; padding: 10px; border-radius: 5px;">
        @message
    </p>
}


<table class="table mt-3 table-striped">
    <thead>
        <tr class="alert-dark">
            <th>Product Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Stock Quantity</th>
            <th>Stock Keeping Unit</th>
            <th>Product Image</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr class="table-striped">
                <td><a class="" asp-area="" asp-controller="Product" asp-action="Details" asp-route-id="@product.Id">@product.ProductId</a></td>
                <td>@product.Name</td>
                <td>@product.Category</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>@product.SKU</td>
                @if (product.Image is not null)
                {
                    <td><img src="data:image/jpeg;base64,@(Convert.ToBase64String(product.Image))" alt="Image" width="auto" height="80" /></td>
                }
                else
                {
                    <td></td>
                }

                <td><a class="btn btn-primary" asp-area="" asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id">Edit</a></td>
                <td><a class="btn btn-secondary" asp-area="" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>


<div class="mt-3">
    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Add"><button class="float-end btn btn-primary">Add New Product</button></a>
</div>